[submodule "totter/static/jquery-facebook-multi-friend-selector"]
	path = totter/static/jquery-facebook-multi-friend-selector
	url = https://github.com/mbrevoort/jquery-facebook-multi-friend-selector.git
