<!DOCTYPE html>
<html>
<head>
    <title>totter</title>
	<link rel="apple-touch-icon" href="{{request.application_url}}/static/images/apple-touch-icon.png" />
    <link rel="stylesheet" href="{{request.application_url}}/static/style-white.css" >
	<link rel="shortcut icon" href="{{request.application_url}}/static/images/favicon.png" />
    {% block scripts %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block footer %}
{% endblock %}
</body>
