{% extends "base.jinja2" %}

{% set custom_class = 'create_totter' -%}
{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="{{request.static_url('totter:static/js/jquery.autoresize.js')}}"></script>
<script type="text/javascript">
    (function($) {
        var $url_from_title=true;
        
        function random_text() {
            // Generates a random string.
            var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
            var string_length = 8;
            var randomstring = '';
            for (var i=0; i<string_length; i++) {
                var rnum = Math.floor(Math.random() * chars.length);
                randomstring += chars.substring(rnum,rnum+1);
            }
            return randomstring;
        }
        
        function title_text_changed(event, $title_field, $url_field) {
            if ($url_from_title) {
                setTimeout(function() {
                    var fullValue = $title_field.val() ;
                    var safe_url = safe_url_from_title(fullValue);
                    $url_field.val(safe_url);
                }, 50);
                
            }
        }
        
        function url_text_changed(event) {
            $url_from_title = false;
        }
        
        $(document).ready(function(){
            console.log('document.ready');
            var $key_field = $("#key");
            var $url_field = $("#url");
            var $title_field = $("#title");
            var $desc_field = $("#description");
            
            $key_field.val(random_text()); // Generate a random key value.
            
            $desc_field.autoResize({max_width : 'original', min_height:'original', extraSpace: 10});
			$title_field.live('keydown', function(e) {title_text_changed(e, $title_field, $url_field)});
			$url_field.live('keypress', url_text_changed);
		});
		
		function safe_url_from_title(text) {
		    return text.replace(/[^a-zA-Z0-9-_]/g, '_');
		}
    })(jQuery);
</script>
{% endblock %}
{% block body %}
    <!-- Begin the main content. Create the Totter -->
    <div class="create_totter create_totter_wrap drop-shadow curved curved-vt-2">
    
        <form id="create_project" method="post" action="{{request.path_url}}">
            <fieldset>
                <h1 class="title">Create Project</h1>
                <div class="field">
                <label for="title">Title:</label>
                <input id="title" name="project_title" class="input" type="text" /><br />
                </div>
                <div class="field">
                <label for="description">Description:</label><br />
                <textarea class="input" name="project_description" id="description"></textarea><br />
                </div>
                <div class="field">
                <label for="url">Project URL:</label><br />
                http://letstotter.com/p/<input class="input" id="url" type="text" name="project_url" class="create_project_url" /><br />
                </div>
                <div class="field">
                <label for="key">Project Key:</label>
                <input id="key" class="input" name="project_key" type="text" /><br />
                <span>(This is a secret passcode that is used by participants to access the project.)</span>
                </div>
                <!-- 
                Share Buttons
                <button type="button">Share via Emai</button>
                <button type="button">Share on Facebook</button>
                -->
                
                <input type="submit" value="Create Totter" />
            </fieldset>
        </form><!-- #create_totter -->
    
    </div><!-- .create_totter -->
{% endblock %}