 <html>
    <head>
      <title>My Facebook Login Page</title>
    </head>
    <body>
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
        FB.Flash.hasMinVersion = function () { return false; };
        FB.init({
            appId      : '{{app_id}}',
            status     : true, 
            cookie     : true,
            xfbml      : true
        });
        
        console.log("this will be run once FB is initialized");
        FB.Event.subscribe('auth.login', function () {
            window.location = "{{request.route_url('fbtest')}}";
            });
        };
        (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
         
      </script>
      <div>{{message}}</div>
      <div class="fb-login-button" scope="email" >Login with Facebook</div>
    </body>
 </html>