 <html>
    <head>
      <title>My Facebook Login Page</title>
    </head>
    <body>
        <!--
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
        FB.Flash.hasMinVersion = function () { return false; };
        FB.init({
            appId      : '{{app_id}}',
            channelUrl : '//letstotter.com/static/channel.php',
            status     : true, 
            cookie     : true,
            oauth      : true,
            xfbml      : true
        });
        
        console.log("this will be run once FB is initialized");
        FB.Event.subscribe('auth.login', function () {
            window.location = "{{request.route_url('fbtest')}}";
            });
        };
        (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
         
      </script>
      <div>{{message}}</div>
      <div class="fb-login-button" scope="email" >Login with Facebook</div>
      -->
      <div>{{message}}</div>
      <button button onclick="login()">Login</button>
      <script> 
    function displayUser(user) {
        var userName = document.getElementById('userName');
        var greetingText = document.createTextNode('Greetings, '
        + user.name + '.');
        userName.appendChild(greetingText);
    }
    function login() {
        var appID = "{{app_id}}";
        if (window.location.hash.length == 0) {
            var path = 'https://www.facebook.com/dialog/oauth?';
            var queryParams = ['client_id=' + appID,
            'redirect_uri=' + window.location,
            'response_type=token'];
            var query = queryParams.join('&');
            var url = path + query;
            window.open(url);
        } else {
            var accessToken = window.location.hash.substring(1);
            var path = "https://graph.facebook.com/me?";
            var queryParams = [accessToken, 'callback=displayUser'];
            var query = queryParams.join('&');
            var url = path + query;
            
            // use jsonp to call the graph
            var script = document.createElement('script');
            script.src = url;
            document.body.appendChild(script);        
        }
    }
   </script> 
   <p id="userName"></p> 

    </body>
 </html>