{% extends "base.jinja2" %}

{% block scripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript">
		function showComment() {
			$('.new_comment').toggle();
		}
		function addIdea() {
			$('.add_idea').toggle();
		}
		function addRating(type) {
			if (type == 1) {
				
			}
			else if (type == 2){
				
			}
			$(this).parent().parent().children('.rate_value').innerHTML = 'Total Rating: {{project.ideas.ratings}}';
			$.ajax({
				url:"{{request.application_url}}/projects/{{project.id}}/idea/",
				method: "POST",
			});
		}
		
		function addIdea_to_project() {
			$.ajax({
				url:"{{request.application_url}}/projects/{{project.id}}/idea",
				method: "POST",
				
			});
			addIdea()
		}
	</script>
{% endblock %}

{% block body %}
	<div class="wrapper drop-shadow curved curved-vt-2">
    	<!-- Begin the Header -->
        <div class="header">
			<div class="user_info">
                <h4 class="username_first_name">{{ user.first_name }}</h4>
                <ul class="tool_tip drop-shadow">
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="#">User Link</a></li>
                    <li><a href="#">User Link</a></li>
                    <li><a href="#">User Link</a></li>
                    <li><a href="#">User Link</a></li>
                </ul>
                <img src="http://graph.facebook.com/12402757/picture?type=square" class="user_photo" />
            </div><!-- .user_info -->
                       
            <h1 class="logo">Totter</h1>
                
            <!-- Clear the float to prevent the header from collapsing -->
            <div class="clearfloat"></div>
                    
		</div><!-- .header -->
            
        <!-- Add Idea and Modal Overlay -->
        <div class="add_idea">
            <div class="add_idea_overlay" onClick="addIdea()"></div>
            <div class="add_idea_modal drop-shadow">
                <h1>Add Idea</h1>
                <textarea>Start typing your idea...</textarea>
                <a href="javascript:void(0)" onClick="addIdea()">Cancel</a>
                <button type="button" onClick="addIdea_to_project()">Add Idea</button>
            </div><!-- idea_idea_modal -->
        </div><!-- .add_idea -->
        
        <!-- END Add Idea and Modal Overlay -->
        
        <!-- Begin the main content. -->
        <h1 class="title">{{project.title}}</h1>
        <h3>by <a href="#">{{user.first_name}}</a></h3>
        
        <div class="the_content">
            <ul class="tabs">
            	<li><a href="{{request.route_url('project_overview')}}">Overview</a></li>
                <li><a href="{{request.route_url('project_ideas')}}" class="active_tab">Ideas</a></li>
                <li><a href="#">People</a></li>
            </ul><!-- .tabs -->
            
            <ul class="project_stats">
            	<li>
                	People<br />
                    <span class="project_stat">{{people_count}}</span>
                </li>
                <li>
                	Ideas<br />
                    <span class="project_stat">{{ideas_count}}</span>
                </li>
                <li>
                	Deadline<br />
                    <span class="project_stat">None</span>
                </li>
                <button type="button" onClick="addIdea()" class="add_idea_button">Add Idea</button>
            </ul><!-- .project_stats -->
            
            <div class="sort_by">
                Sort by:<br />
                <button type="button">Date</button>
                <button type="button">Rating</button>
                <button type="button">User</button>
            </div><!-- .sort_by -->
            
            <ul class="project_ideas">
            	<li>
                	<div class="idea_author">
                    	<a href="#">
                            <img src="http://graph.facebook.com/178405602197920/picture?type=square" />
                        </a>
                    </div><!-- .idea_author -->
                    <div class="idea_body">
                        <div class="idea_meta">
                        <div class="username"><a href="#">Username</a></div>
	                    	<strong class="rate_value" >Total Rating: {{rating_value}}</strong>
	                        <div class="like_love">
	                        	<a href="#" class="like_love" onClick="addRating(1)">Like It</a> 
	                            &bull; 
	                            <a href="#" class="like_love" onClick="addRating(2)">Love It</a> 
	                        </div><!-- like_love -->
                        </div><!-- .idea_meta -->
                    	<div class="idea_description">
                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci. 
                            Quisque mi mi, viverra vel imperdiet eget, cursus at dolor. Integer luctus scelerisque fringilla.
                        </div>
                        <div class="comment_time">
                            <a href="javascript:void(0)" class="comment_on_idea" onClick="showComment()">Comment</a> 
                            &#124; 
                            September 18th at 9:30am
                        </div><!-- .comment_time -->
                         
                        <ul class="project_idea_comments">
                            <li class="new_comment first_update">
                            	<input type="text" value="Start Typing"  /><br />
                                <span class="enter_to_submit">Push Enter to Submit</span>
                            </li><!-- .new_comment -->
                             
                            <!-- Append all new comments to the ul.project_idea_comments -->
                             
                            <li class="first_update">
                            	<a href="#">
                                	<img src="http://graph.facebook.com/12404109/picture?type=square" width="32" height="32" />
                                </a>
                                <div class="comment_body">
                                    <a href="#">Username</a>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci. 
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                	<img src="http://graph.facebook.com/12432946/picture?type=square" width="32" height="32" />
                                </a>
                                <div class="comment_body">
                                    <a href="#">Username</a>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci. 
                                </div>
                            </li>
                            <li class="last_update">
                                <a href="#">
                                	<img src="http://graph.facebook.com/1000499831/picture?size=square" width="32" height="32" />
								</a>
                                <div class="comment_body">
                                    <a href="#">Username</a>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci. 
                                </div>
                            </li>
                        </ul><!-- .project_idea_comments -->
                    </div><!-- idea_body -->
                </li>
            	<li>
                	<div class="idea_author">
                    	<a href="#">
                            <img src="http://graph.facebook.com/82701710/picture?type=square" />
                        </a>
                    </div><!-- .idea_author -->
                    <div class="idea_body">
                        <div class="idea_meta">
	                        <div class="username"><a href="#">Username</a></div>
	                        <strong>Total Rating: 38</strong>
	                        <div class="like_love">
	                        	<a href="#" class="like_love">Like It</a> 
	                            &bull; 
	                            <a href="#" class="like_love">Love It</a> 
	                        </div><!-- .like_love -->
                        </div><!-- .idea_meta -->
                    	<div class="idea_description">
                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci. 
                            Quisque mi mi, viverra vel imperdiet eget, cursus at dolor. Integer luctus scelerisque fringilla.
                        </div>
                        <div class="comment_time">
                            <a href="javascript:void(0)" class="comment_on_idea" onClick="showComment()">Comment</a> 
                            &#124; 
                            September 18th at 9:30am
                        </div><!-- .comment_time -->
                         

                        <ul class="project_idea_comments">
                            <li class="new_comment first_update">
                                <input type="text" value="Start Typing"  /><br />
                                <span class="enter_to_submit">Push Enter to Submit</span>
                            </li><!-- .new_comment -->
                             
                            <!-- Append all new comments to the ul.project_idea_comments -->
                            <li class="first_update">
                            	<a href="#">
                                	<img src="http://graph.facebook.com/12409002/picture?type=square" width="32" height="32" />
                                </a>
                                <div class="comment_body">
                                    <a href="#">Username</a>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci. 
                                </div>
                            </li>
                            <li class="last_update">
                            	<a href="#">
                                	<img src="http://graph.facebook.com/10005352/picture?size=square" width="32" height="32" />
                                </a>
                                <div class="comment_body">
                                    <a href="#">Username</a>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci. 
                                </div>
                            </li>
                        </ul><!-- .project_idea_comments -->
                    </div><!-- idea_body -->
                </li>
            </ul><!-- .project_ideas -->
        </div><!-- .the_content -->
{%endblock %}