{% extends "project_base.jinja2" %}
{% set active_page = "ideas" %}

{% block scripts %}
    {# project_base has add_idea functions #}
    {{ super() }}
	<script type="text/javascript">
		function showComment(idx) {
			$('#comments'+idx).children('.new_comment').toggle();
		}
		
		function submitkey_binding(e) {
			if( e.keyCode==13 ){
                idx = $(this).attr("order");
                var prjId = "{{project.id}}";
                var cmtdata = $(this).val();
				var CommentData = JSON.stringify({'data': cmtdata, 'project_id': prjId, 'Idea_id': idx });
				$('#comments'+idx).find('.enter_to_submit.default').addClass('hidden');
				$('#comments'+idx).find('.enter_to_submit.throbber').removeClass('hidden');
				$.ajax({
					url:"{{request.application_url}}/project/{{project.id}}/idea/" + idx + "/comment",
					type: "POST",
					dataType: "json",
					data: CommentData,
					success: function(){
					    $('#comments'+idx).find('.enter_to_submit.default').removeClass('hidden');
				        $('#comments'+idx).find('.enter_to_submit.throbber').addClass('hidden');
				        
						var m_data = '<li class="first_update"> <a href="#"> <img src="{{user.profile_picture}}?type=square" width="32" height="32" /> </a>' +
										'<div class="comment_body"> <a href="#">{{user.first_name}} </a>' + cmtdata + '</div></li>';
						$('#comments'+idx).children('.new_comment').after(m_data);
						showComment(idx);	
						$('#comments'+idx).children('.new_comment').children('.comment_text').val('');
					}
				});
            }
		}
		$(document).ready(function(){
			$('.comment_text').bind('keypress', submitkey_binding);
		});
		
		
		function setLiked(context, liked) {
		    if (liked) {
                context.find(".like").addClass('hidden');
                context.find(".unlike").removeClass('hidden');
            } else {
                context.find(".unlike").addClass('hidden');
                context.find(".like").removeClass('hidden');
            }                
        }
        
        function setLoved(context, loved) {
            if (loved) {
                context.find(".love").addClass('hidden');
                context.find(".unlove").removeClass('hidden');
            } else {
                context.find(".unlove").addClass('hidden');
                context.find(".love").removeClass('hidden');
            }
        }
        
        // context is some jquery selector '.foo' '#bar' that has the widget underneath it.
        // idea_id is the id of the idea being liked/disliked/loved/unloved.
        
		function unlike(selector, idea_id) {
		    send_rating($(selector), idea_id, {'like' : 0});
		}
		function unlove(selector, idea_id) {
		    send_rating($(selector), idea_id, {'love' : 0});
		}
		
		function like(selector, idea_id) {
		    send_rating($(selector), idea_id, {'like' : 1});
		}
		function love(selector, idea_id) {
		    send_rating($(selector), idea_id, {'love' : 1});
		}
		
		function send_rating(context, idea_id, rating) {
		    $.ajax({
				url:"{{request.application_url}}/project/{{project.id}}/idea/" + idea_id + "/rating",
				type: "POST",
				dataType: "json",
				data: JSON.stringify(rating),
				success: function(data) {
				    if (data.rating['liked'])
    				    setLiked(context, true);
    				else
    				    setLiked(context, false);
    				    
    				if (data.rating['loved'])
    				    setLoved(context, true);
    				else
    				    setLoved(context, false);
    				    
    			    $('#total_rating_' + idea_id).html('Total Rating: ' + data.total_rating);
				}
			});
		}
		
		function SortBy(sort_type){
			if (sort_type == 1) { //sort by date
				//alert("{{request.application_url}}/project/{{project.id}}/ideas?" + 'sort="date"');
				window.location = "{{request.current_route_url()}}?" + 'sort=date';
			}
			else if (sort_type == 2) { //sort by Rating
				window.location = "{{request.current_route_url()}}?" + 'sort=rating';
			}
			else if (sort_type == 3) { //sort by User
				window.location = "{{request.current_route_url()}}?" + 'sort=user';
			}
		} 
	</script>
{% endblock %}

{% block project_body %}
            <div class="sort_by">
                Sort by:<br />
                <button type="button" onClick="SortBy(1)">Date</button>
                <button type="button" onClick="SortBy(2)">Rating</button>
                <button type="button" onClick="SortBy(3)">User</button>
            </div><!-- .sort_by -->
            
            <ul class="project_ideas">
            {% for ideas_index in range(ideas_count) %}
            	<li>
            	    <a name="idea_{{idea_data[ideas_index].idea.id}}" id="idea_{{idea_data[ideas_index].idea.id}}"></a>
                	<div class="idea_author">
                    	<a href="#">
                            <img src={{idea_data[ideas_index].idea.author.profile_picture}}?type=square" />
                        </a>
                    </div><!-- .idea_author -->
                    <div class="idea_body">
                        <div class="idea_meta">
                        {% set liked = idea_data[ideas_index].user_rating.liked %}
                        {% set loved = idea_data[ideas_index].user_rating.loved %}
                        {% set idea_id = idea_data[ideas_index].idea.id %}
                        <div class="username"><a href="#">{{idea_data[ideas_index].idea.author.first_name}}</a></div>
	                    	<strong id="total_rating_{{idea_id}}" >Total Rating: {{idea_data[ideas_index].total_rating}}</strong>
	                        <div class="like_love" id="like_love_{{idea_id}}">
                                <a class="like {% if liked %}hidden{% endif %}" onClick="like('#like_love_{{idea_id}}', {{idea_id}})">Like It (+1)</a>
                                <a class="unlike {% if not liked %}hidden{% endif %}"onClick="unlike('#like_love_{{idea_id}}', {{idea_id}})">Unlike It</a>
                                &bull;
                                <a class="love {% if loved %}hidden{% endif %}" onClick="love('#like_love_{{idea_id}}', {{idea_id}})">Love It (+2)</a>
                                <a class="unlove {% if not loved %}hidden{% endif %}" onClick="unlove('#like_love_{{idea_id}}', {{idea_id}})">Unlove It</a>
	                        </div><!-- like_love -->
                        </div><!-- .idea_meta -->
                    	<div class="idea_description">{{idea_data[ideas_index].idea.data}}</div>
                        <div class="comment_time">
                            <a href="javascript:void(0)" class="comment_on_idea" onClick="showComment({{idea_data[ideas_index].idea.id}})">Comment</a> 
                            &#124; 
                            {{idea_data[ideas_index].idea.creation_time | timefmt}}
                        </div><!-- .comment_time -->
                         
                        <ul class="project_idea_comments" id="comments{{idea_data[ideas_index].idea.id}}">
                            <li class="new_comment first_update">
                            	<input class="comment_text" type="text" value="Start Typing" order = "{{idea_data[ideas_index].idea.id}}"/><br />
                                <span class="enter_to_submit default">Push Enter to Submit</span>
                                <span class="enter_to_submit throbber hidden">Posting...<img src="{{request.static_url('totter:static/images/throbber.gif')}}"/></span>
                            </li><!-- .new_comment -->
                             
                            <!-- Append all new comments to the ul.project_idea_comments -->
                            
                            {% for comment in idea_data[ideas_index].idea.comments %}
	                            {% if loop.first %} 
	                            	<li class="first_update">
	                            {% elif loop.last %}
	                            	<li class="last_update">
	                            {% else %}
	                            	<li>
	                            {% endif %}	
	                            	<a href="#">
	                                	<img src="{{comment.author.profile_picture}}?type=square" width="32" height="32" />
	                                </a>
	                                <div class="comment_body">
	                                    <a href="#">{{comment.author.first_name}}</a>
	                                    {{comment.data}} 
	                                </div>
							{% endfor %}
	          
                        </ul><!-- .project_idea_comments -->
                    </div><!-- idea_body -->
                </li>
            {% endfor %}
            </ul><!-- .project_ideas -->
{%endblock %}
