{% extends "base.jinja2" %}

{% block scripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript">
		function showComment() {
			$('.new_comment').toggle();
		}
		function addIdea() {
			$('.add_idea').toggle();
		}
		function addRating(idx, value, type) {
			if (type == 1) {
				value = value + 1
				ratingData = JSON.stringify({'like': True});
			}
			else if (type == 2){
				value = value + 2
				ratingData = JSON.stringify({'love': True});
			}
			alert("{{project.ideas[0].aggregate_rating}}");
			outText = 'Total Rating: ' + value;
			idText = "rate_value" + idx;
			$('#'+idText).html(outText);
			
			$.ajax({
				url:"{{request.application_url}}/project/{{project.id}}/idea/{{project.ideas[idx].id}}/rating",
				type: "POST",
				dataType: "json",
				data: ratingData,
				success: function(){
					alert("ajax success");
				}
			});
		}
		
		function addIdea_to_project() {
			var IdeaData = JSON.stringify({'data': $(".add_idea_modal textarea").val()});
			alert(IdeaData);
			$.ajax({
				url:"{{request.application_url}}/project/{{project.id}}/idea",
				type: "POST",
				dataType: "json",
				data: IdeaData,
				success: function(){
					alert("ajax success");
				}
			});
			addIdea()
		}
	</script>
{% endblock %}

{% block body %}
	<div class="wrapper drop-shadow curved curved-vt-2">
    	<!-- Begin the Header -->
        <div class="header">
			<div class="user_info">
                <h4 class="username_first_name">{{ user.first_name }}</h4>
                <ul class="tool_tip drop-shadow">
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="#">User Link</a></li>
                    <li><a href="#">User Link</a></li>
                    <li><a href="#">User Link</a></li>
                    <li><a href="#">User Link</a></li>
                </ul>
                <img src="http://graph.facebook.com/12402757/picture?type=square" class="user_photo" />
            </div><!-- .user_info -->
                       
            <h1 class="logo">Totter</h1>
                
            <!-- Clear the float to prevent the header from collapsing -->
            <div class="clearfloat"></div>
                    
		</div><!-- .header -->
            
        <!-- Add Idea and Modal Overlay -->
        <div class="add_idea">
            <div class="add_idea_overlay" onClick="addIdea()"></div>
            <div class="add_idea_modal drop-shadow">
                <h1>Add Idea</h1>
                <textarea>Start typing your idea...</textarea>
                <a href="javascript:void(0)" onClick="addIdea()">Cancel</a>
                <button type="button" onClick="addIdea_to_project()">Add Idea</button>
            </div><!-- idea_idea_modal -->
        </div><!-- .add_idea -->
        
        <!-- END Add Idea and Modal Overlay -->
        
        <!-- Begin the main content. -->
        <h1 class="title">{{project.title}}</h1>
        <h3>by <a href="#">{{user.first_name}}</a></h3>
        
        <div class="the_content">
            <ul class="tabs">
            	<li><a href="{{request.route_url('home')}}">Overview</a></li>
                <li><a href="{{request.route_url('home')}}" class="active_tab">Ideas</a></li>
                <li><a href="#">People</a></li>
            </ul><!-- .tabs -->
            
            <ul class="project_stats">
            	<li>
                	People<br />
                    <span class="project_stat">{{people_count}}</span>
                </li>
                <li>
                	Ideas<br />
                    <span class="project_stat">{{ideas_count}}</span>
                </li>
                <li>
                	Deadline<br />
                    <span class="project_stat">None</span>
                </li>
                <button type="button" onClick="addIdea()" class="add_idea_button">Add Idea</button>
            </ul><!-- .project_stats -->
            
            <div class="sort_by">
                Sort by:<br />
                <button type="button">Date</button>
                <button type="button">Rating</button>
                <button type="button">User</button>
            </div><!-- .sort_by -->
            
            <ul class="project_ideas">
            {% for ideas_index in range(ideas_count) %}
            	<li>
                	<div class="idea_author">
                    	<a href="#">
                            <img src="http://graph.facebook.com/178405602197920/picture?type=square" />
                        </a>
                    </div><!-- .idea_author -->
                    <div class="idea_body">
                        <div class="idea_meta">
                        <div class="username"><a href="#">{{project.ideas[ideas_index].author.first_name}}</a></div>
	                    	<strong id="rate_value{{ideas_index}}" >Total Rating: {{project.ideas[ideas_index].aggregate_rating}}</strong>
	                        <div class="like_love">
	                        	<a href="#" class="like_love" onClick="addRating({{ideas_index}}, {{project.ideas[ideas_index].aggregate_rating}}, 1)">Like It</a> 
	                            &bull; 
	                            <a href="#" class="like_love" onClick="addRating({{ideas_index}}, {{project.ideas[ideas_index].aggregate_rating}}, 2)">Love It</a> 
	                        </div><!-- like_love -->
                        </div><!-- .idea_meta -->
                    	<div class="idea_description">{{project.ideas[ideas_index].data}}</div>
                        <div class="comment_time">
                            <a href="javascript:void(0)" class="comment_on_idea" onClick="showComment()">Comment</a> 
                            &#124; 
                            September 18th at 9:30am
                        </div><!-- .comment_time -->
                         
                        <ul class="project_idea_comments">
                            <li class="new_comment first_update">
                            	<input type="text" value="Start Typing"  /><br />
                                <span class="enter_to_submit">Push Enter to Submit</span>
                            </li><!-- .new_comment -->
                             
                            <!-- Append all new comments to the ul.project_idea_comments -->
                            
                            {% for comment in project.ideas[ideas_index].comments %}
	                            {% if loop.first %} 
	                            	<li class="first_update">
	                            {% elif loop.last %}
	                            	<li class="last_update">
	                            {% else %}
	                            	<li>
	                            {% endif %}	
	                            	<a href="#">
	                                	<img src="{{comment.author.profile_picture}}?type=square" width="32" height="32" />
	                                </a>
	                                <div class="comment_body">
	                                    <a href="#">{{comment.author.first_name}}</a>
	                                    {{comment.data}} 
	                                </div>
							{% endfor %}
	          
                        </ul><!-- .project_idea_comments -->
                    </div><!-- idea_body -->
                </li>
            {% endfor %}
            </ul><!-- .project_ideas -->
        </div><!-- .the_content -->
{%endblock %}