{% extends "page_base.jinja2" %}
{% block scripts %}
<link rel="stylesheet" href="{{request.static_url('totter:static/jquery-facebook-multi-friend-selector/jquery.facebook.multifriend.select.css')}}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.js"></script>
<script src="{{request.static_url('totter:static/js/jquery.autoresize.js')}}"></script>
<script src="{{request.static_url('totter:static/jquery-facebook-multi-friend-selector/jquery.facebook.multifriend.select.js')}}"></script>
<script type="text/javascript">
    (function($) {
        $(document).ready(function(){
            // Expanding textarea
            $message_area = $(".email_invite textarea");
            $message_area.autoResize({max_width : 'original', min_height:'original', extraSpace: 10});
        
            // Expanding fieldset
            $email_fieldset = $(".email_invite fieldset");
            $rem_emails_btn = $(".email_invite #remove_emails");
            i = 0; // Next free email row.
            email_row = function() {return $('<div id="email"><label>Email address:</label><input name="email_'+(i++)+'" type="text"/></div>');}
            $email_fieldset.empty();
            $last_added = email_row();
            $email_fieldset.append($last_added);
            function add_row(event) {
                console.log("focused");
                $new = email_row();
                $last_added.find('input').unbind('focus');
                $email_fieldset.append($new);
                $last_added = $new;
                $last_added.find('input').focus(add_row);
                $rem_emails_btn.removeClass('hidden');
            }
            $last_added.find('input').focus(add_row);
            $rem_emails_btn.click(function(event) {
                event.preventDefault();
                if (i > 1) {
                    $last_added.remove();
                    $last_added = $email_fieldset.find("div:last-child");
                    $rem_emails_btn.removeClass('hidden');
                    --i;
                    $last_added.find('input').focus(add_row);
                    if (i <= 1) {
                        $rem_emails_btn.addClass('hidden');
                    }
                }
            });
            
            // Simple email validation:
            $submit_btn = $(".email_invite #invite");
            $invalid_msg = $(".email_invite #invalid_msg");
            $form = $(".email_invite form");
            function on_submit(event) {
                // Reset the UI that indicates bad things:
                $email_fieldset.children().each(function(index, value) {
                    $invalid_msg.addClass('hidden');
                    $label = $(value).find('label');
                    $input = $(value).find('input');
                    $label.removeClass('bad');
                    $input.removeClass('bad');
                });
                // Validate:
                $email_fieldset.children().each(function(index, value) {
                    $value = $(value);
                    $input = $value.find('input');
                    field_value = $input.val().trim();
                    $input.val(field_value);
                    $label = $value.find('label');
                    if (field_value.length == 0)
                        return; // Ignore.
                    at_index = field_value.indexOf('@');
                    if (at_index == -1 || at_index==0 || at_index==field_value.length-1) {
                        $label.addClass('bad');
                        $input.addClass('bad');
                        $invalid_msg.removeClass('hidden');
                        event.preventDefault();
                    }
                });
                
                $
            }
            $submit_btn.click(on_submit);
            $form.submit(on_submit);
            
		});
		
    })(jQuery);
</script>
{% endblock %}
{% block page_body %}
    <div class="email_invite">
    {% if created %}<h1>Project created successfully!</h1>{% endif %}
    {% if invited %}<h1>Successfully sent {{invitee_count}} invites.</h1>{% endif %}
    <h2><a href="{{project.url}}">Go to the project now!</a></h2>
    
    <div class="invite_method">
    <h3>Share this information to invite people:</h3>
    <span class="access_info">Project URL:</span> {{project.url}} <br/>
    <span class="access_info">Project Access Key:</span> {{project.key}}
    </div> <!-- .invite_method -->
    
    <div class="invite_method">
        <h3>Invite via email:</h3>
        <form method="post" action="{{request.path_url}}">
            <div id="invalid_msg" class="hidden bad">These emails don't look valid. Please check them again.</div>
            <div>
            <fieldset>
                <div id="email"><label>Email address:</label><input name="email_0" type="text"/></div>
                <div id="email"><label>Email address:</label><input name="email_1" type="text"/></div>
                <div id="email"><label>Email address:</label><input name="email_2" type="text"/></div>
                <div id="email"><label>Email address:</label><input name="email_3" type="text"/></div>
            </fieldset>
            <button id="remove_emails" class="hidden">Remove</button>
            </div>
            <div id="subject"><label>Subject:</label><input name="subject" type="text" value="I've invited you to a totter project!"/></div>
<!-- textarea, why do you care about spaces? -->
<textarea name="message">
Hi, {{creator.first_name}} has invited you to participate in a totter project entitled "{{project.title}}"!

You can access the project at: &lt;{{project.url}}&gt;.
Please use the secret project key: {{project.key}}.

What is a totter project? It's a fun and easy way to share ideas with people on just about anything!
</textarea>
            <button id="invite">Invite</button>
        </form>
    </div> <!-- .invite_method -->
    
    </div> <!-- .email_invite -->
    
    <div id="jfmfs-container"></div>
    
    
    
    <p>
    <input type="button"
      onclick="sendRequestViaMultiFriendSelector(); return false;"
      value="Send message"
    />
    </p>
    
    <div id="fb-root"></div>
    <script>
      // assume we are already logged in
      
      
      
      $(document).ready(function() {
        $("#jfmfs-container").jfmfs();
        var friendSelector  = $("#jfmfs-container").data('jfmfs');
        friendSelector.populateMultiselect({{friend_data|safe}});
          
         
      });
      
      
      window.fbAsyncInit = function() {
            FB.init({
              appId      : '{{fb_app_id}}', // App ID
              channelUrl : 'http://letstotter.com/static/channel.php', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              oauth      : true, // enable OAuth 2.0
              xfbml      : true  // parse XFBML
            });
      };
      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         d.getElementsByTagName('head')[0].appendChild(js);
       }(document));
    
      function sendRequestViaMultiFriendSelector() {
          var friendSelector  = $("#jfmfs-container").data('jfmfs');
          var selectedFriends = friendSelector.getSelectedIds();
          FB.ui({
              method: 'send',
              name: '{{project.title}}',
              link: '{{project.url}}',
              to: selectedFriends,
              picture: "{{request.static_url('totter:static/images/logo.png')}}",
              redirect_uri: '{{project.url}}',
              description: "Following up on my wall post, here's the project key: {{project.key}}",
              });
              
         // Fire off an ajax request to the server
         // that posts to people's walls using the graph API
         // Send selectedFriends.
         $.ajax({
				url:"{{request.resource_url(request.context, 'publish_stream')}}",
				type: "POST",
				dataType: "json",
				data: JSON.stringify({'selected_friends' : selectedFriends}),
				success: function(data) {
				    console.log('Sent feed posts.');
				});
      }
      
     </script>
{% endblock %}