{% extends "page_base.jinja2" %}

{% block page_body %}
<h1>Project created successfully!</h1>
<a href="{{project_url}}">Go to the project!</a>

<fb:name uid="$user" firstnameonly="true" shownetwork="false"/> wants to know what your Favorite Games are!
<fb:req-choice url="{{add_url}}" label="Add Favorite Games to your profile!"/>

<fb:request-form action="http://apps.facebook.com/apps/application.php?id=252211568169520" method="POST" invite="true" type="Favorite Games" content="">
<fb:multi-friend-selector max="20" actiontext="Here are your friends who haven't added Favorite Games to their profile. Invite them to share their Favorite Games today!" showborder="true" rows="5"></fb:request-form>

{% endblock %}