{% extends "page_base.jinja2" %}

{% block page_body %}
<h1>Project created successfully!</h1>
<a href="{{project_url}}">Go to the project!</a>

<iframe src="{{iframe_url}}" frameborder="0">
{% endblock %}