{% extends "base.jinja2" %}
{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var searchBox = $("[name=login]");
        var searchBoxDefault = "Email";
        searchBox.focus(function(){  
            if($(this).attr("value") == searchBoxDefault) $(this).attr("value", "");  
        });  
        searchBox.blur(function(){  
            if($(this).attr("value") == "") $(this).attr("value", searchBoxDefault);  
        });
        
        var fakePassword = $("#fakepassword");
        var realPassword = $("#realpassword");
        var passwordDefault = "Password";
        fakePassword.focus(function(){
            fakePassword.addClass("hidden");
            realPassword.removeClass("hidden");
            realPassword.focus();
        });  
        realPassword.blur(function(){  
            if($(this).attr("value") == "") {
                fakePassword.removeClass("hidden");
                realPassword.addClass("hidden");
            }
        });
    });
</script>
{% endblock %}
{% block body %}	
    <div class="login_register_wrap drop-shadow curved curved-vt-2">
            
            <h1 class="title">Welcome to Totter</h1>
            {% if invalid_password -%}<font color="red"> Invalid password. </font> {% endif %}
            {% if unknown_user -%}<font color="red"> Unknown email, try registering? </font> {% endif %}
            <form id="loginForm" method="post" action="{{request.route_url('login')}}">
                <fieldset>
                    <input type="hidden" name="came_from" value="{{came_from}}"/>
                    <input type="text" class="login_field " name='login' value="{{ login if login else 'Email' }}" />
                    <input type="text" class="login_field password" id="fakepassword" name="_" value="Password" />
                    <input type="password" class="login_field password hidden" id="realpassword" name="password" value="" />
                    
				    <a href="#ForgotPassword" class="forgot_password">Forgot Password?</a>
				    
                    <div class="login_options">
                        <div class="remember_me">
                            <input type="checkbox" name='remember' />
                            <label class="login_text">Remember me</label>
                        </div><!-- .remember_me -->
                        <input type="submit" name='form.submitted' class="login_btn" value="Login" />
                    </div>
                </fieldset>
            </form>
			
            <h3 class="register login_text">New here?  
                <a href="{{request.route_url('register')}}" class="register_btn">Register</a></h3>
        
            <div class="fb_login">
                <a href="{{request.route_url('facebook')}}">
                    <img src="{{request.application_url}}/static/images/facebook.png">
                </a>
            </div><!-- .fb_login -->
            
	</div><!-- .login_register_wrap -->
{% endblock %}

