{% extends "base.jinja2" %}
{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var searchBox = $("[name=login]");
        var searchBoxDefault = "Email";
        searchBox.focus(function(){  
            if($(this).attr("value") == searchBoxDefault) $(this).attr("value", "");  
        });  
        searchBox.blur(function(){  
            if($(this).attr("value") == "") $(this).attr("value", searchBoxDefault);  
        });
    });
</script>
{% endblock %}
{% block body %}	
    <div class="login_register_wrap drop-shadow curved curved-vt-2">
            
            <h1 class="title">Welcome to Totter</h1>
            {% if message -%}<font color="red"> {{ message }} </font> {% endif %}
            <form id="loginForm" method='post' action="{{request.route_url('login')}}">
                <fieldset>
                    <input type="hidden" name="came_from" value="{{came_from}}"/>
                    <input type="text" name='login' value="{{ login if login else 'Email' }}" /><br />
                    
                    Password: <input type="password" id='logpass' name='password' value="{{ password }}" /><br />
				    <a href="#ForgotPassword" class="forgot_password">Forgot Password?</a>
                    
                    <div class="remember_me">
                    	<input type="checkbox" name='remember' />
                        <label>Remember me</label>
					</div><!-- .remember_me -->
                    <input type="submit" name='form.submitted' class="login_btn" value="Login" />
                </fieldset>
            </form>
			
            <h3 class="register">New here?  
                <a href="{{request.route_url('register')}}" class="register_btn">Register</a></h3>
        
            <div class="fb_login">
                <a href="{{request.route_url('facebook')}}">
                    <img src="{{request.application_url}}/static/images/facebook.png">
                </a>
            </div><!-- .fb_login -->
            
	</div><!-- .login_register_wrap -->
{% endblock %}

