{% extends "base.jinja2" %}
{% set custom_class = custom_class|default('') -%}
{% block scripts %}
    {{ super() }}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.js"></script>
<script src="{{request.static_url('totter:static/js/jquery.default.js')}}"></script>
<script type="text/javascript">
    function hideModalContainer() {
        $('.modal_container').hide();
        $('.modal_container .remember').default(); // Reset all textboxes in the modal container to defaults.
    }
    
    $(document).ready(function(){
        // All .clickOffs are page-size translucent/transparent background divs
        // That function to hide their parent containing div when they are clicked
        // This is so our modal dialogs close when users click outside of them.
        $('.click_off').each(function() {
            var $this = $(this);
            $this.click(function() {
                $this.parent().hide();
            });
        });
    });
</script>
{% endblock %}
{% block body %}
	<div class="wrapper {{custom_class}}">
            {% block user_header %}
            <!-- Begin the Header -->
            <div class="header">
                {% if user %}
                <div class="user_info">
                    <h4 class="username_first_name">{{user.first_name}}</h4>
                    <ul class="tool_tip drop-shadow">
                        <li><a href="{{user.profile_url}}">View Profile</a></li>
                        <li><a href="{{request.route_url('logout')}}">Logout</a></li>
                    </ul>
                    <img src="{{user.profile_picture}}" class="user_photo" />
                </div><!-- .user_info -->
                {% endif %}
                <h1 class="logo"><a href="/">totter</a></h1>
                
                <!-- Clear the float to prevent the header from collapsing -->
                <div class="clearfloat"></div>
                
			</div><!-- .header -->
			{% endblock %}
			<div class="body_wrapper">
            {% block page_body %}
            {% endblock %}
            </div> <!-- .body_wrapper -->
{% endblock %}

{% block footer %}
    {% block page_footer %}
    </div> <!-- .wrapper -->
    {% endblock %}
    {{ super() }}
{% endblock %}