{% extends "base.jinja2" %}

{# navigation_bar elements: (url, id, caption) #}
{% set navigation_bar = [
    
    (request.route_url('project_entity', project_id=project_id), 'overview', 'Overview'),
    (request.route_url('project_ideas', project_id=project_id), 'ideas', 'Ideas'),
    ('/project/project_id/people', 'people', 'People')
] -%}

{% set active_page = active_page|default('overview') -%}

{% block body %}
    {% block project_header %}
	<div class="wrapper drop-shadow curved curved-vt-2">
            
            <!-- Begin the Header -->
            <div class="header">
            
                <div class="user_info">
                    <h4 class="username_first_name">{{user.first_name}}</h4>
                    <ul class="tool_tip drop-shadow">
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">User Link</a></li>
                        <li><a href="#">User Link</a></li>
                        <li><a href="#">User Link</a></li>
                        <li><a href="#">User Link</a></li>
                    </ul>
                    <img src="{{user.profile_picture}}" class="user_photo" />
                </div><!-- .user_info -->
                           
                <h1 class="logo">Totter</h1>
                
                <!-- Clear the float to prevent the header from collapsing -->
                <div class="clearfloat"></div>
                
			</div><!-- .header -->
            
            <!-- Add Idea and Modal Overlay -->
            <div class="add_idea">
                <div class="add_idea_overlay" onClick="addIdea()"></div>
                <div class="add_idea_modal drop-shadow">
                    <h1>Add Idea</h1>
                    <textarea>Start typing your idea...</textarea>
                    <a href="javascript:void(0)" onClick="addIdea()">Cancel</a>
                    <button type="button" onClick="addIdea_to_project()">Add Idea</button>
                </div><!-- idea_idea_modal -->
            </div><!-- .add_idea -->
            
            <script>
			function addIdea() {
				$('.add_idea').toggle();
			}
			</script>
            <!-- END Add Idea and Modal Overlay -->
            
            <!-- Begin the main content. -->
            <h1 class="title">{{project.title}}</h1>
            <h3>by <a href="#">{{project.creator.first_name}} {{project.creator.last_name}}</a></h3>
            
            <div class="the_content">
                <ul class="tabs">
                    {# Build tabs from navigation_bar data. #}
                    {% for href, id, caption in navigation_bar %}
                    <li>
                        <a href="{{ href|e }}" {%if id == active_page %}class="active_tab"{% endif %}>
                        {{ caption|e }}
                        </a>
                    </li>
                    {% endfor %}
                </ul><!-- .tabs -->
                
                <ul class="project_stats">
                    <li>
                        People<br />
                        <span class="project_stat">{{people_count}}</span>
                    </li>
                    <li>
                        Ideas<br />
                        <span class="project_stat">{{ideas_count}}</span>
                    </li>
                    <li>
                        Deadline<br />
                        <span class="project_stat">{{project.deadline}}</span>
                    </li>
                    <button type="button" onClick="addIdea()" class="add_idea_button">Add Idea</button>
                </ul><!-- .project_stats -->
    {% endblock %}
    {% block project_body %}
    
    {% endblock %}
    {% block project_footer %}
                </div><!-- .the_content -->
    {% endblock %}
{% endblock %}