{% extends "project_base.jinja2" %}
{% set active_page = "overview" %}
<div class="project_description">
    <h2>Description</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci. 
        Quisque mi mi, viverra vel imperdiet eget, cursus at dolor. Integer luctus scelerisque fringilla. 
        Donec molestie bibendum nunc sed posuere. Nullam non risus eros, sed blandit tortor. 
        Ut dui nisl, rhoncus id venenatis nec, sodales quis nisl. 
        Cras neque lorem, venenatis sit amet accumsan ut, semper quis sapien.
         Sed tempus laoreet auctor.
    </p>
</div><!-- .project_description -->

<ul class="project_updates">
    <h2>Updates</h2>
    <li class="first_update">
        <span class="project_update_date">Wed 9/21/2011 at 9pm</span><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci.
    </li>
    <li>
        <span class="project_update_date">Wed 9/21/2011 at 9pm</span><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci.
    </li>
    <li>
        <span class="project_update_date">Wed 9/21/2011 at 9pm</span><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci.
    </li>
    <li class="last_update">
        <span class="project_update_date">Wed 9/21/2011 at 9pm</span><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dictum orci.
    </li>
</ul><!-- .project_updates -->
{% block project_body %}
{% endblock %}