{% extends "base.jinja2" %}

{# navigation_bar elements: (url, id, caption) #}
{% set navigation_bar = [
    
    ('/project/project_id/overview', 'overview', 'Overview'),
    ('/project/project_id/ideas', 'ideas', 'Ideas'),
    ('/project/project_id/people', 'people', 'People')
] -%}

{% set active_page = active_page|default('overview') -%}

{% block body %}
    {% block project_header %}
                <!-- Begin the main content. -->
                <h1 class="title">Title of the Project</h1>
                <h3>by <a href="#">Username</a></h3>
                
                <div class="the_content">
                    <ul class="tabs">
                        {# Build tabs from navigation_bar data. #}
                        {% for href, id, caption in navigation_bar %}
                        <li>
                            <a href="{{ href|e }}" {%if id == active_page %}class="active_tab"{% endif %}>
                            { caption|e }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul><!-- .tabs -->
                    
                    <ul class="project_stats">
                        <li>
                            People<br />
                            <span class="project_stat">42</span>
                        </li>
                        <li>
                            Ideas<br />
                            <span class="project_stat">3</span>
                        </li>
                        <li>
                            Deadline<br />
                            <span class="project_stat">None</span>
                        </li>
                        <button type="button" onClick="addIdea()" class="add_idea_button">Add Idea</button>
                    </ul><!-- .project_stats -->
    {% endblock %}
    {% block project_body %}
    
    {% endblock %}
    {% block project_footer %}
                </div><!-- .the_content -->
    {% endblock %}
{% endblock %}