{% extends "page_base.jinja2" %}

{# navigation_bar elements: (url, id, caption) #}
{% set navigation_bar = [
    (request.model_url(context), 'overview', 'Overview'),
    (request.model_url(context, 'ideas'), 'ideas', 'Ideas'),
    (request.model_url(context, 'people'), 'people', 'People')
] -%}

{% if show_invite %}
{% set navigation_bar = [
    (request.model_url(context), 'overview', 'Overview'),
    (request.model_url(context, 'ideas'), 'ideas', 'Ideas'),
    (request.model_url(context, 'people'), 'people', 'People'),
    (request.model_url(context, 'invite'), 'invite', 'Invite') 
] -%}
{% endif %}

{% set active_page = active_page|default('overview') -%}
{% macro fakebutton(label, class='') -%}
    {# Redirects user to login screen.  #}
    <form class="button_wrapper" method="LINK" action="{{request.route_url('login')}}">
        <input type="submit" class="{{class}}" value="{{label}}"></input>
    </form>
{%- endmacro %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.js"></script>
<script src="{{request.static_url('totter:static/js/jquery.jeditable.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{request.static_url('totter:static/js/jquery.autoresize.js')}}"></script>

<script src="{{request.static_url('totter:static/js/jquery.jeditable.autoresize.js')}}"></script>
<script src="{{request.static_url('totter:static/js/jquery.default.js')}}"></script>
<script type="text/javascript">

        $(document).ready(function(){
            $('.edit').editable('{{request.model_url(context)}}', {
                style: 'inherit',
                cssclass: 'inherit',
                cancel    : 'Cancel',
                submit    : 'OK',
            });
            $('.edit_area').editable('{{request.model_url(context)}}', { 
                 type      : 'autoResize',
                 cancel    : 'Cancel',
                 submit    : 'OK',
                 indicator : '<img src="{{request.static_url('totter:static/images/indicator.gif')}}">',
                 tooltip   : 'Click to edit...',
                 autoResize: {}
             });
             
        });
                    
        

</script>
{% endblock %}
{% block page_body %}
            {% block project_header %}
            <!-- Begin the main content. -->
            <div class="project">
            <div class="title">
            <h1 id="title" class="title {%if editable %}edit{% endif %}">{{project.title}}</h1> 
            {%if editable %}<span class="edit_note">(click text to edit)</span>{% endif %}
            </div>
            <h3>by <a href="#">{{project.creator.first_name}} {{project.creator.last_name}}</a></h3>
            
            <div class="the_content">
                <ul class="tabs">
                    {# Build tabs from navigation_bar data. #}
                    {% for href, id, caption in navigation_bar %}
                    <li>
                        <a href="{{ href|e }}" {%if id == active_page %}class="active_tab"{% endif %}>
                        {{ caption|e }}
                        </a>
                    </li>
                    {% endfor %}
                </ul><!-- .tabs -->
                <ul class="project_stats">
                    <li>
                        People<br />
                        <span class="project_stat">{{people_count}}</span>
                    </li>
                    <li>
                        Ideas<br />
                        <span class="project_stat"><a href="{{request.model_url(context)}}/ideas">{{ideas_count}}</a></span>
                    </li>
                    <li>
                        Deadline<br />
                        <span class="project_stat">{{project.deadline}}</span>
                    </li>
                    {% block add_idea_btn %}
                    {% if user %}
                    <form class="button_wrapper" method="LINK" action="{{request.model_url(context)}}/ideas#ideapopup">
                        <input type="submit" class="add_idea_button" value="Add Idea"></input>
                    </form>
                    {% else %}
                    {{fakebutton('Add Idea', 'add_idea_button')}}
                    {% endif %}
                    {% endblock %}
                </ul><!-- .project_stats -->
            {% endblock %}
            {% block project_body %}
            {% endblock %}
            </div><!-- .the_content -->
{% endblock %}
{% block page_footer %}
{% block project_footer %}

{% endblock %}
{{ super() }}
{% endblock %}