{% extends "project_base.jinja2" %}
{% set active_page = "overview" %}

{% block scripts %}
{{ super() }}
<script src="{{request.static_url('totter:static/js/jquery.tmpl.js')}}"></script>
<script src="{{request.static_url('totter:static/js/jquery.autoresize.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.remember').default('bind');
    });
    function addUpdate() {
        $('.add_update').toggle();
        $('.add_update .remember').default();
    }
    function addUpdate_to_project() {
        {% if user %}
        var prjId = "{{project.id}}";
        var IdeaData = JSON.stringify({'data': $(".add_update_modal textarea").val(), 'project_id': prjId });
        $.ajax({
            url:"{{request.model_url(context, 'updates')}}",
            type: "POST",
            dataType: "json",
            data: IdeaData,
            success: onSuccess_addUpdate
            
        });
        
        function onSuccess_addUpdate(data){
            var new_id = data.idea_id;
            var when = data.when;
            var text = data.data;
            var last = {% if updates|count > 0 %}false;{% else %}true;{% endif %}
            var update_data = {'when' : when, 'data' : text, 'last' : last};
            var prepare_data = $('#updateTemplate').tmpl(update_data);
            $(".add_update_modal textarea").val("Start typing your update...")
            var after = $('.updates_header');
            $('.first_update').removeClass('first_update');
            after.after(prepare_data);
            $('.add_update .remember').default();
            $('.updates_empty_prompt').hide();
        }
        {% else %}
        showLoginPrompt();
        {% endif %}
        addUpdate();
    }
</script>
{# Turn Jinja2 off, this is jquery.tmpl's territory. #}
{% raw %}
<script id="updateTemplate" type="text/x-jquery-tmpl">
<li class="first_update {{if last}}last_update{{/if}}">
    <span class="project_update_date">${when}</span><br />
        ${data}
</li>
</script>
{% endraw %}

{% endblock %}
{% block project_body %}
<div class="add_update modal_container">
    <div class="dark_overlay click_off"></div>
    <div class="add_idea_modal add_update_modal modal_dialog drop-shadow">
        <h1>Add Update</h1>
        <textarea class="remember">Start typing your update...</textarea>
        <a class="cancel" href="javascript:void(0)" onClick="addUpdate()">Cancel</a>
        <button type="button" onClick="addUpdate_to_project()">Add Update</button>
    </div><!-- idea_idea_modal -->
</div><!-- .add_idea -->

<div class="project_description">
    <div>
    <h2>Description</h2>
    {%if editable %}<span class="edit_note">(click text to edit)</span>{% endif %}
    </div>
    <p id="description" class="{%if editable %}edit_area{% endif %}">{{project.description}}</p>
    
</div><!-- .project_description -->

<ul class="project_updates">
    <div class="updates_header">
        <h2>Updates</h2>
        {% if can_update %}
        <button type="button" onClick="addUpdate()" class="add_update_button">Add Update</button>
        {% endif %}
    </div> <!-- .updates_header -->
    {% for update in updates %}
    <li class="{% if loop.first %}first_update{% endif %} {% if loop.last %}last_update{% endif %}">
        <span class="project_update_date">{{update.when | timefmt}}</span><br />
            {{update.data}}
    </li>
    {% endfor %}
</ul><!-- .project_updates -->
<!--
{% if not updates|length %}
<div class="updates_empty_prompt list_empty_prompt">
No updates in a while! 
{% if can_update %}
<a onclick="addUpdate()">Add an update?</a>
{% endif %}
</div>
{% endif %}
-->
{% endblock %}