{% extends "project_base.jinja2" %}
{% set active_page = "people" %}

{% block project_body %}

<ul class="project_people">
{% for person in people %}
    <li class="person">
    <img src="{{person.profile_picture}}"></img>
    <a href="{{person.profile_url}}">{{person.first_name}} {{person.last_name}}</a> {%if not person.invite_accepted %}(Invited){% endif %}
    </li>
{% endfor %}

{% for email in invited_emails %}
    <li class="email">
    {{email}} (Invited)
    </li>
{% endfor %}
</ul><!-- .project_people -->


{% endblock %}
