{% extends "base.jinja2" %}
{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var fields = [ 
                [$("[name=login]"), "Email"],
                [$("[name=firstname]"), "First Name"],
                [$("[name=lastname]"), "Last Name"]
            ];
        function setup(input, defaultVal){
            input.focus(function(){  
                if($(this).attr("value") == defaultVal) $(this).attr("value", "");
            });  
            input.blur(function(){  
                if($(this).attr("value") == "") $(this).attr("value", defaultVal);
            });
        }
        for(var i=0; i<fields.length; i++){
            field = fields[i];
            setup(field[0], field[1]);
        }
        
        // We can't change the type of an input textbox on the fly, 
        // so for the password input, flip the textbox to a password box
        // as soon as the user touches it.
        var fakePassword = $("#fakepassword");
        var realPassword = $("#realpassword");
        var passwordDefault = "Password";
        fakePassword.focus(function(){
            fakePassword.attr('name', '_');
            realPassword.attr('name', 'password');
            
            fakePassword.addClass("hidden");
            realPassword.removeClass("hidden");
            realPassword.focus();
        });  
        realPassword.blur(function(){  
            if($(this).attr("value") == "") {
                fakePassword.removeClass("hidden");
                realPassword.addClass("hidden");
            }
        });
    });
</script>
{% endblock %}
{% block body %}	
    <div class="login_register_wrap drop-shadow curved curved-vt-2">          
        <h1 class="title">Registration</h1>
        {% if message -%}<font color="red"> {{ message }} </font> {% endif %}
        <form id="registerForm" method='post' action="{{request.route_url('register')}}">
            <fieldset>
                <input type="text" name='login' value="{{ login if login else 'Email' }}" /><br />
                <input type="text" class="login_field password" id="fakepassword" name="password" value="Password" />
                <input type="password" class="login_field password hidden" id="realpassword" name="_" value="" />    
                <input type="text" name='firstname' value="{{ firstname if firstname else 'First Name' }}" /><br />
                <input type="text" name='lastname' value="{{ lastname if lastname else 'Last Name' }}" /><br />
                       
                <input type="submit" name='form.submitted' class="login_btn" value="Register" />
            </fieldset>
        </form>			             
        <h2>- or -</h2>
        <div id="fb-root"></div>
        <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '{{app_id}}',
            status     : true, 
            cookie     : true,
            xfbml      : true
          });
        };
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));
        </script>
        <div class="fb-login-button" data-redirect-uri="{{fb_redirect_url}}">Register with Facebook</div>
	</div><!-- .login_register_wrap -->
{% endblock %}

