/* 
* Totter
* As in Teeter-Totter.
* Don't play totter with a fat-chick.
* You'll never get down.
* Color Scheme: http://colorschemedesigner.com/#3K40ysH----00
*/

/* Reset the browser */
@import url(reset.css);

/******************************************************************************************************************************************************
General Classes
******************************************************************************************************************************************************/
body {font-size: 16px; background-color: white;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-sze: 1.2em;}
h5 {font-size: 1.1em;}

a {text-decoration: none; color: 	#2471BE;}
a:hover {text-decoration: underline;}
.clearfloat {clear:both;}
.hidden { display:none; }

.wrapped,.the_content > *, .header > *, .project_header > * { padding-left: 200px !important; padding-right: 200px !important; }


/*******************************************************************************************************************************
 Form Elements 
*******************************************************************************************************************************/
label {font-size: 1.3em;}

/* Text Inputs and Textarea */
input[type=text], textarea {
	width: 98%;
	margin: 10px 0;
	margin-bottom: 0;
	padding: 5px;
	border: none;
	font-size: 16px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .3);
}

input[type=text]:focus,
textarea:focus {
}

:disabled {background-color: #F0F0F0;}

/* Button and Submit Inputs */
button, input[type=submit] {
	color: #fff;
	font-weight: bold;
	margin: 5px;
	padding: 8px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	background: rgb(36,113,190); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0NzFiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjYxYTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(36,113,190,1) 0%, rgba(31,97,163,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,113,190,1)), color-stop(100%,rgba(31,97,163,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(36,113,190,1) 0%,rgba(31,97,163,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(36,113,190,1) 0%,rgba(31,97,163,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(36,113,190,1) 0%,rgba(31,97,163,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(36,113,190,1) 0%,rgba(31,97,163,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2471be', endColorstr='#1f61a3',GradientType=0 ); /* IE6-8 */
}
button:hover,
input[type=submit]:hover {
background: rgb(31,98,165); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmNjJhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDU2OTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(31,98,165,1) 0%, rgba(29,86,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,98,165,1)), color-stop(100%,rgba(29,86,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(31,98,165,1) 0%,rgba(29,86,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(31,98,165,1) 0%,rgba(29,86,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(31,98,165,1) 0%,rgba(29,86,147,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(31,98,165,1) 0%,rgba(29,86,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f62a5', endColorstr='#1d5693',GradientType=0 ); /* IE6-8 */
}
button:active,
input[type="submit"]:active {
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
background: rgb(29,86,147); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNTY5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjYyYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(29,86,147,1) 0%, rgba(31,98,165,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,86,147,1)), color-stop(100%,rgba(31,98,165,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(29,86,147,1) 0%,rgba(31,98,165,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(29,86,147,1) 0%,rgba(31,98,165,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(29,86,147,1) 0%,rgba(31,98,165,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(29,86,147,1) 0%,rgba(31,98,165,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d5693', endColorstr='#1f62a5',GradientType=0 ); /* IE6-8 */
}


/******************************************************************************************************************************************************
Drop Shadows
******************************************************************************************************************************************************/
/* Base Drop Shadow */
.drop-shadow {
	position:relative;
	background-color:#fff;
}

.drop-shadow:before,
.drop-shadow:after {
	content:"";
	position:absolute;
	z-index:-2;
}
/* Curved Shadows - This only does the left side */
.curved:before {
   top:10px;
   bottom:10px;
   left:0;
   right:50%;
}

/* Vertical Curve - both right and left sides */
.curved-vt-2:before {
   right:0;
}

/* Generate the shadow: */
.curved:before, .modal_dialog:before {
    -moz-box-shadow: 0 0 20px rgb(36,113,190);
   -webkit-box-shadow: 0 0 20px rgb(36,113,190);
   box-shadow: 0 0 20px rgb(36,113,190);
   -moz-border-radius: 0px / 100px;
   border-radius: 0px / 100px;
}

/* Position the shadow on the modal boxes */
.modal_dialog:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* For User Options tool tip dropdown. */
.tool_tip.drop-shadow, .star_tool_tip.drop-shadow {
    -moz-box-shadow:0 0 20px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow:0 0 20px rgba(0, 0, 0, 0.8);
}


/*********************************************************************************************************************************
Begin the document
*****************************************************************************************************************************/
body {
	color: #333;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.28;
}

/* Centers a fixed width */
.wrapper {
	position: relative;
	border-radius: 15px;
}

/********************************************************************************************
 Header
********************************************************************************************/
.header {
	padding: 10px 0;
	border-bottom: 1px solid #2471BE;
	margin-bottom: 20px;
}
div.title {padding-bottom: 10px;}
/* Used to be h1.title */

.logo {color:#2471BE;}

.motto { font-size: 1.25em; margin: 0.7em; }
h2.motto { margin-bottom: 1em; }

/**************************************************
User Info Section 
**************************************************/
.user_info {
	float: right; 
	display: block;
	cursor: pointer;
}
.username_first_name {
	float: right; 
	line-height: 55px; 
	vertical-align: middle; 
	padding-right: 13px; 
	background: url("images/options_arrow_down.png") center right no-repeat; 
}
.user_photo {padding-right: 5px; float: right;}

/* User links tool tip */
.user_info ul {
	display: none; 
	text-decoration: none;
	padding: 10px;
}
.user_info:hover ul {
	display: block; 
	z-index: 100; 
	position: absolute;
	right: 30px; 
	top: 90px; 
	text-decoration: none;
}
.user_info ul li {
	padding: 5px 0;
	text-align: center;
}

/**************************************************
Dashboard 
**************************************************/
.dashboard_section {
margin:20px;
}

.dashboard_links a {
display:block;
margin:20px;
}

/**************************************************
User Page
**************************************************/
.user_projects div.project_title {
margin-left:4em;
}

.user_projects div.participation_info {
margin-left:8em;
}

/*********************************************************************************************************************************************************
Login Page
*********************************************************************************************************************************************************/
.login_register_wrap {
    background:none repeat scroll 0 0 #FFFFFF; /* Maybe? */
	width: 250px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -175px;
	margin-left: -175px;
	background: #fff;
	text-align: center;
	padding: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.login_register_wrap form {padding-bottom: 10px;}
.forgot_password {font-size: 11px; float:right;}
div.remember_me {float:left; font-size:11px; margin-top:8px;}
#loginForm input[type=submit] {display:inline; float:right; margin:0; width:75px;}
.register {padding: 10px 0;}

.login_field {
border:medium none;
border-radius:8px 8px 8px 8px;
box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.3) inset;
font-size:16px;
margin:10px 0;
padding:5px;
width:98%;
}

.login_field.password {
margin-bottom:0;
}

.login_field.hidden {
display:none;
}

.login_text {
font-size:14px;
}

.login_options {
clear:both;
padding-top:17px;
}

.fb_login {
margin:10px;
}

/*********************************************************************************************************************************************************
Project Access Page
*********************************************************************************************************************************************************/

#projectAccessForm input[type=submit] {margin: 0; margin-top: 5px; float:right;}

/******************************************************************************************************************************************************
Create Page
******************************************************************************************************************************************************/
.create_totter_wrap {
    width:700px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 10px;
}
#create_project .field {
    margin-bottom: 29px;
}
#create_project .input {
    margin: 0;
}
#create_project .title {
    margin-bottom: 30px;
}

#create_project .input#url {
    width: 495px;
}

#create_project .input#description {
    height: 50px;
    width: 684px;
}

#create_project .input#title {
    width: 629px;
}

#create_project .input#key {
    width: 560px;
}

/******************************************************************************************************************************************************
Invite Page
******************************************************************************************************************************************************/
span.access_info {
font-weight:bold;
}

.email_invite textarea {
    height: 150px;
}
.notification {
    color:#2471BE;
    font-weight:bold;
}
.email_invite .bad {
    color:red;
}

.email_invite #remove_emails {
}
.email_invite #subject {
    clear: both;

}
.email_invite fieldset {
    display: inline;
}
.email_invite h1 {
    margin-bottom: 40px;
}
.email_invite h2 {
    margin-bottom: 40px;
}

.email_invite input[type="text"] {
    width: 650px;
    margin-left: 10px;
}
.email_invite #subject input[type="text"] {
    width: 840px;
}

.invite_method {
    margin-bottom: 1em;
}

div.pick_friends_modal {
    width: 725px;
    height: 460px;
    padding-top: 2.5em;
}

.invite_method#facebook h3 {
    display: inline;
}

.invite_method#facebook button {
    margin: 0;
    vertical-align: bottom;
}

#jfmfs-friend-selector input {
    box-shadow: initial;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    width: auto;
    height: auto;
}

div.facebook_buttons { float: right; }
.uiButton,.uiButtonSuppressed:active,.uiButtonSuppressed:focus,.uiButtonSuppressed:hover{background-repeat:no-repeat;background-position:0 -245px;background-color:#eee;border:1px solid #999;border-bottom-color:#888;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);cursor:pointer;display:inline-block;font-size: 11px;font-weight:bold;line-height:13px;padding:2px 6px;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap}
.uiButtonLarge{line-height:16px}
.uiButton + .uiButton{margin-left:4px}
.uiButton:hover{text-decoration:none}
.uiButton:active,.uiButtonDepressed{background:#ddd;border-bottom-color:#999;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.uiButton .img{margin-top:2px;vertical-align:top}
.uiButtonLarge .img{margin-top:4px}
.uiButton .customimg{margin-top:0}
.uiButton .uiButtonText,.uiButton input{background:none;border:0;color:#333;cursor:pointer;display:inline-block;font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;font-size: 11px;font-weight:bold;margin:0;outline:none;padding:1px 0 2px;white-space:nowrap}
.uiButtonOverlay,.uiButtonOverlay:hover{-webkit-background-clip:padding-box;background-color:#fff;background-color:rgba(255, 255, 255, .8);background-image:none;border-color:#a5a5a5;border-color:rgba(0, 0, 0, .35);-webkit-border-radius:2px}
.uiButtonOverlay:focus,.uiButtonOverlay:active{background-color:#f9fafc;background-color:rgba(249, 250, 252, .9);border-color:#3b5998;border-color:rgba(59, 89, 152, .5)}
.async_saving .uiButton.uiButtonOverlay,.uiButtonOverlay.uiButtonDisabled,.uiButtonOverlay.uiButtonDisabled:active,.uiButtonOverlay.uiButtonDisabled:focus,.uiButtonOverlay.uiButtonDisabled:hover{background-color:#fff;background-color:rgba(255, 255, 255, .8);border-color:#c8c8c8;border-color:rgba(180, 180, 180, .8)}
.uiButtonSpecial{background-repeat:no-repeat;background-position:0 -49px;background-color:#69a74e;border-color:#3b6e22 #3b6e22 #2c5115}
.uiButtonSpecial:active{background:#609946;border-bottom-color:#3b6e22}
.async_saving .uiButton.uiButtonSpecial,.uiButtonSpecial.uiButtonDisabled,.uiButtonSpecial.uiButtonDisabled:active,.uiButtonSpecial.uiButtonDisabled:focus,.uiButtonSpecial.uiButtonDisabled:hover{background:#b4d3a7;border-color:#9db791}
.uiButtonConfirm{background-repeat:no-repeat;background-position:0 -294px;background-color:#5b74a8;border-color:#29447e #29447e #1a356e}
.uiButtonConfirm:active{background:#4f6aa3;border-bottom-color:#29447e}
.async_saving .uiButton.uiButtonConfirm,.uiButtonConfirm.uiButtonDisabled,.uiButtonConfirm.uiButtonDisabled:active,.uiButtonConfirm.uiButtonDisabled:focus,.uiButtonConfirm.uiButtonDisabled:hover{background:#adbad4;border-color:#94a2bf}
.async_saving .uiButton.uiButtonSpecial .uiButtonText,.async_saving .uiButton.uiButtonSpecial input,.async_saving .uiButton.uiButtonConfirm .uiButtonText,.async_saving .uiButton.uiButtonConfirm input,.uiButtonSpecial .uiButtonText,.uiButtonSpecial input,.uiButtonSpecial.uiButtonDisabled .uiButtonText,.uiButtonSpecial.uiButtonDisabled input,.uiButtonConfirm .uiButtonText,.uiButtonConfirm input,.uiButtonConfirm.uiButtonDisabled .uiButtonText,.uiButtonConfirm.uiButtonDisabled input{color:#fff}
.async_saving .uiButton,.uiButtonDisabled,.uiButtonDisabled:active,.uiButtonDisabled:focus,.uiButtonDisabled:hover{background:#f2f2f2;border-color:#c8c8c8;-webkit-box-shadow:none}
.async_saving .uiButton .img,.uiButtonDisabled .img{opacity:.5}
.async_saving .uiButton .uiButtonText,.async_saving .uiButton input,.uiButtonDisabled .uiButtonText,.uiButtonDisabled input{color:#b8b8b8}
.async_saving .uiButton,.async_saving .uiButton .uiButtonText,.async_saving .uiButton input,.uiButtonDepressed,.uiButtonDepressed .uiButtonText,.uiButtonDepressed input,.uiButtonDisabled,.uiButtonDisabled .uiButtonText,.uiButtonDisabled input{cursor:default}
.uiButtonLarge,.uiButtonLarge .uiButtonText,.uiButtonLarge input{font-size: 13px}
.uiButtonSuppressed{background:none;border-color:transparent;-webkit-box-shadow:none}
.uiButtonNoText .img{margin-left:-1px;margin-right:-1px}
.android .uiButton .uiButtonText,.android .uiButton input{padding:3px 0 1px 1px}

/******************************************************************************************************************************************************
Project Page
******************************************************************************************************************************************************/
.project h1 { display:inline; }
.title input { font-weight:bold; }
.idea_description { margin-bottom:1em; word-wrap:break-word; }
.modal_container {display: none}
.modal_dialog a.cancel { position: absolute; right: 25px; top: 15px; }
.modal_dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 200px;
	padding: 20px;
	margin-left: -320px;
	margin-top: -240px;
	z-index: 200;
}

.login_prompt button { display: block; margin: 0 auto; width: 300px; margin-top: 10px; font-size: 1.4em; }
.login_prompt h1 { margin: 0 auto; text-align: center; }
.login_prompt_modal { height: 100px; }

.add_idea_modal h1 {color: #2471BE;}
.add_idea_modal textarea {height: 75px;}
.add_idea_modal a {}
.add_idea_modal button {position: absolute; right: 15px; width: 100px; font-size: 1.1em;}
.dark_overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 199;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,.6);
}

.add_idea .hidden {
    display: None;
}
.add_idea .throbber {
}

.add_idea .shown {
    display: block;
}
form.button_wrapper { display: inline; }

ul.tabs {
	padding-bottom: 4px;
	border-bottom: 1px solid #2471BE;
}
ul.tabs li {
	display: inline-block;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 20px;
}
ul.tabs li a {
	padding: 5px 10px;
	background: #ccc;
	text-decoration: none;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-border-radius: 3px 3px 0 0;
}
ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li a.active_tab {
	background: #2471BE;
	color: #fff;
}
ul.project_stats {
	padding: 10px 0;
	background: #efefef;
}
ul.project_stats li {
	display: inline-block;
	text-align: center;
	padding: 5px;
	margin: 0 10px;
	font-weight: bold;
}
span.project_stat {font-size: 1.3em;}
.add_idea_button {width: 125px; font-size: 1.1em; float: right;}

.sort_by {}
.sort_by button {width: 75px; font-size: 16px;}

/* Inline editing */
.edit input {
font-size:1em;
}

span.edit_note {
font-size:10px;
position:relative;
top:-.5em;
vertical-align:middle;
}
/* END Inline editing */

/******************************************************************************************************************************************************
Project Overview
******************************************************************************************************************************************************/
div.project_description, 
ul.project_updates {margin-top: 10px; padding: 5px;}
div.project_description h2 { display:inline; }

ul.project_updates {margin-left: 2em;}
/* Same as: background:none repeat scroll 0 0 #EFEFEF; ? */

ul.project_updates li {
	padding: 8px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	background-color: #EFEFEF;
	padding-left: .2em;
	margin-top: .2em;
}
ul.project_updates li.first_update {border-top: none;}
ul.project_updates li.last_update {border-bottom: none;}
span.project_update_date {font-weight: bold;}

div.updates_header {
    overflow: hidden;
    background-color: #EFEFEF;
}

div.updates_header h2 {
    display: block;
    float: left;
    position: relative;
    padding-top: .4em;
    padding-left: .1em;
}

div.updates_header button {
    float: right;
}

div.updates_empty_prompt {
    margin-top: 10px;
}



/******************************************************************************************************************************************************
Project Idea Page
******************************************************************************************************************************************************/
#new_project_idea input[type="submit"] {
	float: right; 
	width: 100px; 
	margin: -5px 2px 0 0;
}
ul.project_ideas {margin-top: 5px;}
ul.project_ideas li {
	position: relative; 
	padding: 10px 0;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #ccc;
}

ul.project_ideas li.first_update {border-top: none;}
ul.project_ideas li.last_update {border-bottom: none;}
.idea_author {
	position: absolute;
	min-width: 75px;
	height: 100%;
}
.idea_author img {
	padding-top: 20px;
}
.idea_body {
	padding-top: 15px;
	margin-left: 60px; 
}
.username {font-weight: bold;}
.idea_meta {}

.list_empty_prompt {
    position: relative;
    margin: 0 auto;
    background: grey;
    text-align: center;
    width: 500px;
    padding: 50px;
    background-color: #EFEFEF;
}


div.rating_system,div.toggle_comments {
    float:right;
    position:relative;
    top:-1.2em;
}

/* Like/Love Numeric Rating */
.total_rating {
    font-weight: normal;
    font-size: 0.9em;
    float: right;
}
.total_rating .rating_value { font-weight:bold; }

div.like_love {
    font-weight: bold; 
    text-align: right;
	position: relative;
	float: right;
	clear: both;
	cursor:pointer;
}

.like_love .hidden {
    display: None;
}

.unlike, .unlove {
    font-style: italic;
}
/* END Like/Love */



/* Stars */
ul.star_tool_tip label { font-size: 1em; float: left;}
ul.idea_meta li {display: inline-block; border: none; padding-bottom: 0px; margin-top: -25px;}
.star, .star_active {
	height: 30px;
	width: 30px;
	display: block;
}
.star_rating_overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 199;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0);
}
.star_system ul.idea_meta { float: right; }
.star_system div.rating_info { clear: both; }
.star {	background: url(images/star-grey.png) center bottom no-repeat;}
.star_active {background: url(images/star.png) center bottom no-repeat;}
ul.star_tool_tip {
    width: 220px;
    height: 40px;
	position: absolute;
	top: -11px;
	right: 0;
	padding: 10px 20px 0 20px;
	background-color:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
	z-index: 200;
}
.star_tool_tip:before,
.star_tool_tip:after {
	content:"";
	position:absolute;
	z-index:-2;
}
ul.star_tool_tip li {display: inline-block; border: none; color: #333; line-height: 30px; vertical-align: middle; font-weight: bold;}
ul.star_tool_tip li a:hover {text-decoration: none; background: url(images/star.png) center bottom no-repeat;}
ul.star_tool_tip form {display: inline; float: right; }
ul.star_tool_tip label {position: relative; top: .5em;}
div.star_rating { display: none; }
/* END Stars */


.comment_time,.toggle_comments {font-size: 12px; color: gray; cursor:pointer;}
div.toggle_comments { clear:both; }

ul.project_idea_comments .new_comment {
	display: list-item;
	text-align: center;
	background:  hsl(0, 0%, 91%);
	/* Same as background:none repeat scroll 0 0 #E8E8E8; ? */
}

.enter_to_submit {
	font-size: 10px;
	position: absolute;
	bottom: 0;
	right: 3px;
}


.project_idea_comments .throbber img {
    float: right;
}

ul.project_idea_comments {
	background: white;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 39px;
}
ul.project_idea_comments li {
	padding: 8.5px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	
}
ul.project_idea_comments li img {float: left; position: relative; top: -6px; margin-left: 2.5px;}
.comment_body {margin-left: 40px;}
.comment_text {font-size: 12px; word-wrap:break-word;}
.comment_input { height: 15px; position: relative; width: 770px; margin: 0; top: -5px;}
.comment_anon_status { position: absolute; left: 42px; bottom: 0; font-size: 10px; }
.comment_author {font-size: 12px; font-weight: bold;}
ul.project_idea_comments li.existing_comments {
    padding: 0;
}
ul.existing_comments {
    background: hsl(0, 0%, 91%);
    /* background:none repeat scroll 0 0 #E8E8E8; ? */
}